.row.pl50.pr50
  .span9
    %h1
      = image_tag("logo.png")
    .ml10
      = form_tag search_path, :method => :get, :class => "form-inline m0",name: "myform", :role => "form" do
        = text_field_tag :keyword, params[:keyword], :class => "form-control", :id => "keyword", :style => "width: 525px", :placeholder => "请输入关键字"
        %button.btn.btn-danger{ type: "submit" }
          搜索
    .mt20
      - if @list.blank?
        搜索不到您想要的内容。
      - else
        %ul.unstyled
          - @list.each do |search_item|
            %li.mt30.mb20
              %h4.mb20
                = link_to search_item[0], "#{search_item[2]}", target: "_blank"
              %p
                = search_item[1]
              = link_to "来自#{search_item[3]}站", '#{search_item[4]}', target: "_blank"
        = will_paginate @list
  .span3
