<!DOCTYPE html>
<html>
<head>
  <% if !join_city.blank? && params[:action] == "home"  %>
    <meta http-equiv='refresh' content='5; url=<%= join_city %>'>
  <% end %>
  <mate charset="UTF-8">
  <title>馨窝网，本地化房产团购、电商第一门户。房地产行业快速全网营销第一网www.xinwowang.com
</title>
  <meta name="baidu-site-verification" content="LHI0JCqSm5" />
  <meta name="keywords" content="广州房地产网、深圳房地产网、厦门房地产网、漳州房地产网、泉州房地产网">
  <meta name="description" content="馨窝网www.xinwowang.com:本地化房产团购、电商第一门户,最全、最专业的房产优惠信息网,致力于通过团购、电商等方式，为本地购房者收集最及时、全面的购房优惠信息，并为房产项目营销提供最立体、便捷的全网营销解决方案。">
  <link rel="shortcut icon" href="<%= asset_path("favicon.ico") %>" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= yield %>

</body>
</html>
